.clearfix
  = f.input :label
  = f.input :element_type, collection: Element::TYPES.map {|t| [t[1], t[0]]}, label: "Type", include_blank: false

  %fieldset.options
    %legend Choices
    = f.simple_fields_for :options do |option_form|
      = render partial: 'option_fields', :locals => { :f => option_form }
    %p= link_to_add_fields "Add Choice", f, :options

  = link_to_remove_fields "Remove Field", f
  %br
  %hr