.clearfix
  = f.label :name, "Name"
  .input
    = f.text_field :name
.clearfix
  = f.label :element_type, "Type"
  .input
    = f.select :element_type, Element::TYPES.collect { |t| [t.humanize, t.to_s] }

= link_to_remove_fields "remove", f
