.clearfix
  = f.label :name, "Name"
  .input
    = f.text_field :name
.clearfix
  = f.label :type, "Type"
  .input
    = f.select :type, Field::TYPES.collect { |t| [t.humanize, t.to_s] }

= link_to_remove_fields "remove", f
