= simple_form_for @form do |f|
  = render "shared/error_messages", :target => @form

  %fieldset
    = f.input :name, label: "Form Name", input_html: { class: 'xxlarge' }
    = f.input :description, :as => :text, input_html: { class: 'xxlarge', rows: 3 }
  
  %fieldset
    %legend Fields

    = f.simple_fields_for :elements do |element_form|
      .clearfix
        = render partial: 'element_fields', :locals => { :f => element_form }
    %p= link_to_add_fields "Add Field", f, :elements

  %p= f.submit "Save", class: 'btn primary'