%h2=element.label

%table
  %thead
    %tr
      %th Choices
      %th Percentage
      %th Count

  %tbody
    - element.options.each do |option|
      - option_count = element.option_counts[option.value]
      %tr
        %td=option
        %td
          - percent = percentage(@submissions.count, option_count)
          .meter
            %span{style: "width: #{percent}%", class: "#{cycle('', 'red', 'green')}"}
              %p
                ="#{percent}%"
        %td= option_count

%h3
  = total(@submissions.count, element)