%h1 Forms

%ul
  - @forms.each do |form|
    %li
      %p= form.name
      %p
        = link_to 'Edit', edit_form_path(form)
        |
        = link_to "See results", form
        |
        = link_to "Submit response", new_form_submission_path(form)

= link_to "Create new form", new_form_path