- names = @form.qualitative_elements.collect(&:name)

%h2 Responses

%table
  %thead
    %tr
      %th #
      - @form.qualitative_elements.collect(&:label).each do |element_label|
        %th
          = element_label
  %tbody
    - @submissions.each_with_index do |submission, index|
      %tr
        %td=index+1
        - names.each do |name|
          %td
            = submission.values.where(name: name).first

- @form.quantitative_elements.each do |element|
  %h2=element.label

  %table
    %thead
      %tr
        %th Choices
        %th Percentage
        %th Count

    %tbody
      - element.options.each do |option|
        %tr
          %td=option
          %td=percentage(@submissions.count, element.option_counts[option.value])
          %td
            = element.option_counts[option.value]

  %h3
    = total(@submissions.count, element)

= link_to 'Back to forms', forms_path