!!! 5

%html
  %head
    %title
      FormulatronApp
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .topbar
      .fill
        .container
          = link_to "Formulatron", root_path, class: "brand"
          %ul.nav
            %li.active
              = link_to 'Home', root_path
            %li
              = link_to "About", '#'
            %li
              = link_to "Contact", '#'

    .container
      .content
        .page-header
          %h1
            Formulatron App
            %small Test application to showoff Formulatron
        .row
          .span14
            - if notice
              .alert-message.notice
                %p= notice
            - if alert
              .alert-message.alert
                %p= alert
            
            = yield
            
      %footer
        %p Tony Daly 2011
      
